body {
  font-family: Arial, sans-serif;
  background: linear-gradient(120deg, #a6c0fe, #f68084);
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Conteneur pour l'image */
.image-container {
  width: 400px;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Image responsive */
.image-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  object-fit: contain;
}

button {
  background: #f68084;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  transform: scale(1);
}

button:active {
  transform: scale(0.95);
}

button:hover {
  background: #d15a63;
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

#btnNext {
  background: #4caf50;
  margin-top: 20px;
}

#btnNext:hover {
  background: #2d9931;
}

p {
  font-size: 1.1rem;
  color: #444;
  margin: 10px 0;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  animation: slide-down 0.3s ease-out;
}

.modal-content h2 {
  color: #4caf50;
  font-size: 24px;
}

.modal-content button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.modal-content button:hover {
  background-color: #45a049;
}

@keyframes slide-down {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
