body {
  font-family: Arial, sans-serif;
  background: linear-gradient(120deg, #a6c0fe, #f68084);
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  gap: 10px;
}

/* h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

/* Conteneur pour l'image */
.image-container {
  width: 400px;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Image responsive */
.image-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  object-fit: contain;
}

button {
  background: #f68084;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  transform: scale(1);
}

button:active {
  transform: scale(0.95);
}

button:hover {
  background: #d15a63;
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

#btnNext {
  background: #4caf50;
  margin-top: 20px;
}

#btnNext:hover {
  background: #2d9931;
}

p {
  font-size: 1.1rem;
  color: #444;
  margin: 10px 0;
}

#score {
  font-weight: bold;
  margin-top: 15px;
}
